.theMain_div {
  background-image: url("../../../../assets/comicsback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 94vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.theMain_div-p {
  font-size: 100px;
  font-weight: 900;
  transition: all 0.5s ease;
}

.theMain_div-p:hover {
  font-size: 130px;
  font-weight: 900;
  color: rgb(119, 26, 26);
}

.main_dv {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
  max-width: 1200px;
  justify-content: space-evenly;
}
/* images start */
.dv1 {
  border: 2px solid red;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px red;
  background-image: url("https://images.unsplash.com/photo-1569272955731-e2bd853aed90?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-position: center;

  transition: all 0.5s ease;
}

.dv1:hover {
  border: 2px solid red;
  width: 210px;
  height: 220px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px red;
  background-image: url("https://images.unsplash.com/photo-1569272955731-e2bd853aed90?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dv2 {
  border: 2px solid red;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px red;
  background-image: url("https://images.unsplash.com/photo-1559864845-2916d99fba10?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  transition: all 0.5s ease;
}

.dv2:hover {
  border: 2px solid red;
  width: 210px;
  height: 220px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px red;
  background-image: url("https://images.unsplash.com/photo-1569272955731-e2bd853aed90?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dv3 {
  border: 2px solid red;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px red;
  background-image: url("https://images.unsplash.com/photo-1634828221818-503587f33d02?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  transition: all 0.5s ease;
}

.dv3:hover {
  border: 2px solid red;
  width: 210px;
  height: 220px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px red;
  background-image: url("https://images.unsplash.com/photo-1569272955731-e2bd853aed90?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-position: center;
}

.dv4 {
  border: 2px solid red;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px red;
  background-image: url("https://images.unsplash.com/photo-1559864845-42b13e1b0ae2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  transition: all 0.5s ease;
}

.dv4:hover {
  border: 2px solid red;
  width: 210px;
  height: 220px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px red;
  background-image: url("https://images.unsplash.com/photo-1569272955731-e2bd853aed90?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* images end */

.main_div-p {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .theMain_div {
    height: 100vh;
    width: 100vw;
  }
}

@media screen and (max-width: 850px) {
  .theMain_div {
    height: 110vh;
    width: 100vw;
  }
  .dv {
    width: 170px;
    height: 270px;
  }
  .dv:hover {
    width: 190px;
    height: 290px;
  }
}

@media screen and (max-width: 740px) {
  .dv {
    width: 120px;
    height: 220px;
  }
  .dv:hover {
    width: 130px;
    height: 230px;
  }
}

@media screen and (max-width: 600px) {
  .theMain_div {
    height: 120vh;
    width: 100vw;
  }
  .dv {
    width: 100px;
    height: 200px;
  }
  .dv:hover {
    width: 110px;
    height: 210px;
  }
}

@media screen and (max-width: 400px) {
  .theMain_div {
    height: 120vh;
    width: 100vw;
  }
}
